body {
    html

{
    font-size: 16;
    color: #921C33;
}

.nav-bar {
    display: inline;
    background-color:
}

    .nav-bar li {
        float: left;
        color: yellow;
    }

.sections-box {
    box-size: border-box;
    border: solid 2px;
}

.sections-header {
}

.burgundy-box {
    background-color: #921C33;
    color: #F9C800;
}
}